@model Models.PhotoModel
@{
    var uploadDate = new System.DateTime(1970, 1, 1).AddSeconds(Model.UploadDate).ToString("yyyy-MM-dd");
                        
}

<div class="photocard-main-container">
    <div class="photocard-image-container">
        <img class="photocard-image" src="@Model.Photo">
    </div>
    @* <div class="photocard-details-container">
        <p>Photo Id: @Model.PhototId</p>
        <p>User Email: @Model.UserEmail</p>
        <p>Date Uploaded: @uploadDate</p>
        <p>Album Id: @Model.AlbumId</p>
        <p>Profile Link: @Model.ProfileLink</p>
        <p>Likes: @Model.Likes</p>
        <p>Comments: @Model.Comments</p>
    </div> *@
    <button class="photocard-del-btn" onclick="DeletePhoto(@Model.PhotoId);" >Delete Photo</button>
</div>

