@model Models.PostModel
@{
    var createdDate = new System.DateTime(1970, 1, 1).AddSeconds(Model.DatePosted).ToString("MMMM dd, yyyy");
}

<link rel="stylesheet" type="text/css" href="./Styles/Profiles/_PostCard.css">
<script src="./Scripts/_PostCard.js"></script>


<div class="profile-post-container-status-post">
    <div class="profile-post-container-status-post-profile">
        <img class="user-photo" src=@Model.Poster.Photo>
        <span id="user-details"><span id="poster-fullname">@Model.Poster.FirstName
                @Model.Poster.LastName</span><br><span id="date-created">@createdDate</span></span>
        <div class="profile-post-container-status-post-profile-buttons">
            <button class="update-post" value=@Model.PostId id=@Model.PostId><img class="update-post" onclick="modifyPost(@Model.PostId, '@Model.ProfileLink')" src="./Images/more.png"></button>
            <button class="delete-post" value=@Model.PostId id=@Model.PostId><img class="delete-post" onclick="deletePost(@Model.PostId, '@Model.ProfileLink')" src="./Images/close.png"></button>
        </div>
    </div>
    <div class="profile-post-container-status-post-caption">
        <span>@Model.Caption</span>
    </div>
    <div class="profile-post-container-status-post-photo">
        <a href=@($"/posts/{Model.PostId}")><img src="@Model.Photo"></a>
    </div>
    <div class="profile-post-container-status-post-status">
        <span id="like">@Model.Likes Likes</span>
        <span id="comment">@Model.Comment Comments</span>
    </div>
    <hr>
    <div class="profile-post-container-status-post-buttons">
        <button class="post-button-like"><img src="./Images/like.png"><span id="like-post">Like</span></button>
        <button class="post-button-comment"><img src="./Images/comment.png"><span id="comment-post">Comment</span></button>
    </div>
    <hr>
    <div class="profile-post-container-status-post-comments">
        <img src="./Images/img_avatar.png">
        <div class="friend-details">
            <span id="friend-name">Friend Name</span><br>
            <span id="friend-comment">Comment goes here......</span>
        </div>
    </div>
    <div id="post-modal-container-delete">
        <div id="post-modal-container-1-delete">
            <div id="modal-container-title-delete">
                <span id="modal-container-close-delete">&times;</span>
            </div>
            <div id="modal-container-caption-delete">
                <form class="caption-delete">
                    <label>Are you sure you want to delete this post?</label>
                </form>
                <div id="buttons-delete">
                    <button id="yes-btn">Yes</button>
                    <button id="cancel-btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="post-modal-container-update">
        <div class="post-modal-container-1-update">
            <div class="modal-container-title-update">
                <span id="modal-container-close-update">&times;</span>
            </div>
            <div class="modal-container-user-update">
                <img class="user-photo-update" src=@Model.Poster.Photo>
                <p id="user-details-update">@Model.Poster.FirstName @Model.Poster.LastName</p>
            </div>
            <div class="modal-container-caption-update">
                <form class="caption-add-update"> 
                    <input type="text" class="caption-update" value = "" name="caption" maxlength="1000">
                    <button class="user-button-update" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
    <div id="post-modal-container-comment">
        <div class="post-modal-container-1-comment">
            <div class="modal-container-title-comment">
                <span id="modal-container-close-comment">&times;</span>
            </div>
            <div class="modal-container-comment">
                <form class="friend-comment-form">
                    <input type="text" class="friend-comment" placeholder="Write a comment" name="comment" maxlength="1000">
                    <button class="friend-button-comment" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#@Model.PostId').click(() => {
        var postId = document.getElementById("@Model.PostId")
        console.log(postId.value);
    });
</script>