@model Models.PostModel
@{
    var createdDate = new System.DateTime(1970, 1, 1).AddSeconds(Model.DatePosted).ToString("MMMM dd, yyyy");
}

<link rel="stylesheet" type="text/css" href="./Styles/Profiles/_PostCard.css">

<div class="profile-post-container-status-post">
    <div class="profile-post-container-status-post-profile">
        <img class="user-photo" src=@Model.Poster.Photo>
        <a href=@($"/{Model.Poster.ProfileLink}")><span id="user-details"><span id="poster-fullname">@Model.Poster.FirstName
                @Model.Poster.LastName</span><br><span id="date-created">@createdDate</span></span></a>
        
        @{
            if (Model.DoesUserOwnsThePost == true)
            {
                <div class="profile-post-container-status-post-profile-buttons">
                    <button class="update-post" value=@Model.PostId id=@Model.PostId><img class="update-post"
                            onclick="modifyPost(@Model.PostId, '@Model.ProfileLink')" src="./Images/more.png"></button>
                    <button class="delete-post" value=@Model.PostId id=@Model.PostId><img class="delete-post"
                            onclick="deletePost(@Model.PostId, '@Model.ProfileLink')" src="./Images/trash.png"></button>
                </div>                
            }
        }
        
        
    </div>
    <div class="profile-post-container-status-post-caption">
        <span>@Model.Caption</span>
    </div>
    <div class="profile-post-container-status-post-photo">
        <a href=@($"/posts/{Model.PostId}")><img src="@Model.Photo"></a>
    </div>
    <div class="profile-post-container-status-post-status">
        @{
            if(String.IsNullOrEmpty(Model.LikesList)) {
                <a id="post-container-status-likers" onclick="openLikeModal(@Model.PostId)" href="#"><span id="like"></span></a>
            }
            else {
                var likersList = Model.LikesList.Split(',');
                <a id="post-container-status-likers" onclick="openLikeModal(@Model.PostId)" href="#"><span id="like">@likersList.Length Like/s</span></a>
            } 
        }
        
        @{
            if(Model.CommentsListObj == null) {
               <span id="comment"></span>
            }
            else {
                <span id="comment">@Model.CommentsListObj.Count Comment/s</span>
            }
        }        
    </div>
    <hr>
    <div class="profile-post-container-status-post-buttons">

        @{
            if(Model.DoesUserLikesAPost == true)
            {
                <button id=@Model.PostId class = "post-button-unlike" style = "background-color: #1877f2; color: white"><img src="./Images/like.png">Unlike</button>
            }
            else {
                <button id=@Model.PostId class="post-button-like"><img src="./Images/like.png"><span id="like-post">Like</span></button>
            }
        }
  
        
        <button id=@Model.PostId class="post-button-comment"><img src="./Images/comment.png"><span id="comment-post">Comment</span></button>
    </div>
    <hr>
    <div class="profile-post-container-status-post-comments">
        @{
            if(Model.CommentsListObj != null)
            {
                foreach (Models.CommentsModel commentWithDetails in Model.CommentsListObj)
                {
                    await Html.RenderPartialAsync("~/Views/Shared/_CommentCard.cshtml",commentWithDetails);
                }
            }
            else
            {
                <p>Add a comment</p>
            }
        }
    </div>
    <div id="post-modal-container-delete">
        <div id="post-modal-container-1-delete">
            <div id="modal-container-title-delete">
                <span id="modal-container-close-delete">&times;</span>
            </div>
            <div id="modal-container-caption-delete">
                <form class="caption-delete">
                    <label>Are you sure you want to delete this post?</label>
                </form>
                <div id="buttons-delete">
                    <button id="yes-btn">Yes</button>
                    <button id="cancel-btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="post-modal-container-update">
        <div class="post-modal-container-1-update">
            <div class="modal-container-title-update">
                <span id="modal-container-close-update">&times;</span>
            </div>
            <div class="modal-container-user-update">
                <img class="user-photo-update" src=@Model.Poster.Photo>
                <p id="user-details-update">@Model.Poster.FirstName @Model.Poster.LastName</p>
            </div>
            <div class="modal-container-caption-update">
                <form class="caption-add-update">
                    <input type="text" class="caption-update" value="" name="caption" maxlength="1000">
                    <button class="user-button-update" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
    <div class="post-modal-container-comment" id=@("post-modal-container-comment-"+Model.PostId)>
        <div class="post-modal-container-1-comment">
            <div class="modal-container-title-comment">
                <span class="modal-container-close-comment">&times;</span>
            </div>
            <div class="modal-container-comment">
                <form id=@Model.PostId class="friend-comment-form" onsubmit="submitAddComment(event)">
                    <input type="text" class="friend-comment" placeholder="Write a comment" name="comment" maxlength="1000">
                    <button class="friend-button-comment" type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
    <div id="post-modal-container-likers">
        <div class="post-modal-container-1-likers">
            <span id="modal-container-close-likers">&times;</span>
            <h3>People who liked</h3>
            <hr>
            <div class="modal-container-title-likers">
                
            </div>
        </div>
    </div>
</div>
