@model Models.UserModel
@{
    var birthdate = new System.DateTime(1970, 1, 1).AddSeconds(Model.Birthday).ToString("MMMM dd yyyy");
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./Styles/Profiles/ProfileAbout.css">
    <script>
        // This is temporary
        // Need to set profileLink in localstorage at currentProfile.profileLink
        localStorage.setItem('profileLink', "@Model.ProfileLink");  
    </script>
    <script src="./Scripts/ProfileAbout.js"></script>
</head>

<body>
    <div class="profile-ext-container">
        <h3>About</h3>
        <div class="profile-readonly" id="profile-readonly">
            <button class="profile-edit-btn" id="profile-edit-btn">Edit Profile</button>
            <p id="profile-first-name">First Name: @Model.FirstName</p>
            <p id="profile-last-name">Last Name: @Model.LastName</p>
            <p id="profile-email-address">Email Address: @Model.EmailAddress</p>
            <p id="profile-mobile-number">Mobile Number: @Model.MobileNumber</p>
            <p id="profile-birthday">Birthday: @birthdate</p>
            <p id="profile-gender">Gender: @Model.Gender</p>
            <p>About Me: @Model.About</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nobis dolore hic nihil, fugiat accusantium
            molestiae perferendis adipisci totam corporis possimus nesciunt quaerat magni repudiandae excepturi
            exercitationem non architecto eos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo numquam, amet exercitationem a magni
            consectetur quidem, velit eius aperiam maxime, provident et adipisci facere quibusdam veniam labore
            repudiandae ad temporibus.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati eaque tenetur aliquid nemo excepturi.
            Eum iusto, itaque minus porro, doloribus magni illum adipisci atque in sint quaerat ratione, incidunt
            soluta!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi magni facere rem, dolore quibusdam aperiam
            laborum optio neque, harum saepe vel rerum consequuntur, eos eum quidem sunt repellat. Beatae, molestiae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eligendi accusamus, exercitationem,
            sed et nulla beatae enim pariatur quibusdam a voluptate magni eveniet maxime? Repellat eligendi repellendus
            rem inventore adipisci.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere amet, error corporis molestias ad eligendi,
            consectetur, tempora ea reprehenderit praesentium libero? Suscipit, aliquid eum fuga asperiores nihil
            nostrum sed iste!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta ab blanditiis consequatur dolorem inventore
            recusandae est laboriosam facilis sit laudantium mollitia odio voluptatibus nesciunt, similique aut corporis
            ipsam error quasi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga porro, perspiciatis accusantium odio maiores
            voluptatibus vero placeat tempora non nihil quod cumque sint exercitationem quae iure aliquam mollitia ad
            facilis.
        </div>
        <div class="profile-edit-modal" id="profile-edit-modal">
            <div class="modal-container">
                <span id="profile-close-modal">&times;</span>
                <h2 class="profile-title-modal">Edit Information</h2>
                <hr>
                <form class="form-edit" id="form-profile">
                    <label>First Name:</label>
                    <input type="text" id="first-name" name="FirstName" value="@Model.FirstName" /><br><br>
                    <label>Last Name:</label>
                    <input type="text" id="last-name" name="LastName" value="@Model.LastName" /><br><br>
                    <label>Mobile Number:</label>
                    <input type="text" id="mobile-number" name="MobileNumber" value="@Model.MobileNumber" /><br><br>
                    <label>Birthday:</label>
                    <input type="date" id="birthday" name="Birthday" value="@Model.Birthday" /><br><br>
                    <label>Gender:</label>
                    <select type="text" id="gender" name="Gender" value="@Model.Gender">
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                </form>
                <button class="profile-btn" id="save-btn">Save</button>
                <button class="profile-btn" id="cancel-btn">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>