@model Models.PostModel
@using System.Text.Json
@{
    var createdDate = new System.DateTime(1970, 1, 1).AddSeconds(Model.DatePosted).ToString("MMMM dd, yyyy");
    string jsonString = JsonSerializer.Serialize(Model);
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../Styles/Posts/Post.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../Scripts/PostsPage.js"></script>
    <script type="text/javascript">
        const model = '@jsonString';
    </script>
    <title>@ViewData["Title"]Pastebook </title>
    <link rel="icon" type="image/x-icon" href="/Images/pastebook-logo.png">
</head>

<body>
    <div class="post-container">
        <div class="post-container-left">
            <a href="/"><img class="post-container-left-logo" src="../../Images/pastebook-logo.png"></a>
            <img class="post-container-left-post" src="@Model.Photo">
        </div>
        <div class="post-container-right">
            <div class="post-container-right-action">
                @{
                    if (Model.DoesUserOwnsThePost == true)
                    {
                        <button class="update-but"><img class="post-container-right-action-update" src="../Images/more.png"></button>
                        <button class="delete-but"><img class="post-container-right-action-delete" src="../Images/trash.png"></button>
                    }
                }
                <button class="close-but"><img class="post-container-right-action-close" src="../Images/close.png"></button>
            </div>
            <div class="post-container-right-profile">
                <img class="post-container-right-profile-logo" src="@Model.Poster.Photo">
                <a href=@($"/{Model.Poster.ProfileLink}")><span class="poster-details"><span class="poster-fullname">@Model.Poster.FirstName @Model.Poster.LastName</span><br><span class="posted-date">@createdDate</span></span></a>
            </div>
            <div class="post-container-right-caption">
                <span>@Model.Caption</span>
            </div>
            <div class="post-container-right-status">
                 @{
                    if(String.IsNullOrEmpty(Model.LikesList)) {
                        <a id="post-container-right-status-likers" onclick="openLikeModal(@Model.PostId)" href="#"><span id="like"></span></a>
                    }
                    else {
                        var likersList = Model.LikesList.Split(',');
                        <a id="post-container-right-status-likers" onclick="openLikeModal(@Model.PostId)" href="#"><span id="like">@likersList.Length Like/s</span></a>
                    } 
                }
                
                @{
                    if(Model.CommentsListObj == null) {
                    <span id="comment"></span>
                    }
                    else {
                        <span id="comment">@Model.CommentsListObj.Count Comment/s</span>
                    }
                }
            </div>
            <hr>         
            <div class="post-container-right-buttons">
            @{
                if(Model.DoesUserLikesAPost == true)
                {
                    <button id=@Model.PostId class="post-container-right-unlike" style = "background-color: #1877f2; color: white" ><img src="../Images/like.png"><span id="like-post">Unlike</span></button>
                }
                else {
                    <button id=@Model.PostId class="post-container-right-like" ><img src="../Images/like.png"><span id="like-post">Like</span></button>
                }
            }
            <button class="post-container-right-comment" id=@Model.PostId><img src="../Images/comment.png"><span id="comment-post">Comment</span></button>
            </div>
            <hr>
            <div class="profile-post-container-status-post-comments">
                @{
                    if(Model.CommentsListObj != null)
                    {
                        foreach (Models.CommentsModel commentWithDetails in Model.CommentsListObj)
                        {
                            await Html.RenderPartialAsync("~/Views/Shared/_CommentCard.cshtml",commentWithDetails);
                        }
                    }
                    else
                    {
                        <p>Add a comment</p>
                    }
                }
            </div>
        </div>
        <div id="post-modal-container-delete">
            <div id="post-modal-container-1-delete">
                <div id="modal-container-title-delete">
                    <span id="modal-container-close-delete">&times;</span>
                </div>
                <div id="modal-container-caption-delete">
                    <form id="caption-delete">
                        <label>Are you sure you want to delete this post?</label>
                    </form>
                    <div id="buttons-delete">
                        <button id="yes-btn">Yes</button>
                        <button id="cancel-btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="post-modal-container-update">
            <div class="post-modal-container-1-update">
                <div class="modal-container-title-update">
                    <span id="modal-container-close-update">&times;</span>
                </div>
                <div class="modal-container-user-update">
                    <img class="user-photo-update" src=@Model.Poster.Photo>
                    <p id="user-details-update">@Model.Poster.FirstName @Model.Poster.LastName</p>
                </div>
                <div class="modal-container-caption-update">
                    <form class="caption-add-update" id="caption-add-update">
                        <input type="text" id="caption-update" name="caption" value='@Model.Caption'
                            maxlength="1000">
                        <input type="file" id="myPhotoPost-update" name="Photo" accept="image/*" data-type='image'>
                        <button class="user-button-update" type="submit">Update</button>
                    </form>
                </div>
                <div class="modal-container-photo-update">
                    <img id="modal-container-photo-img-update" src=@Model.Photo>
                </div>
            </div>
        </div>
        <div class="post-modal-container-comment" id=@("post-modal-container-comment-"+Model.PostId)>
            <div class="post-modal-container-1-comment">
                <div class="modal-container-title-comment">
                    <span id="modal-container-close-comment">&times;</span>
                </div>
                <div class="modal-container-comment">
                    <form id=@Model.PostId class="friend-comment-form" onsubmit="submitAddComment(event)">
                        <input type="text" class="friend-comment" placeholder="Write a comment" name="comment" maxlength="1000">
                        <button class="friend-button-comment" type="submit">Post</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="post-modal-container-likers">
            <div class="post-modal-container-1-likers">
                <span id="modal-container-close-likers">&times;</span>
                    <h3>People who liked</h3>
                <div class="modal-container-title-likers">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
